body, html, h1, h2{
  margin: 0;
  padding: 0;
}

body, html, #root, .App{
  height: 100%;
}


.main-content {
  display: grid;
  grid-template-columns: 1fr 8fr;
  grid-template-rows: 1fr 8fr;
  flex: 1 0 auto;
}

.App{
  display: flex;
  flex-direction: column;
}

img{
  pointer-events: none;

}

