body, html, h1, h2{
  margin: 0;
  padding: 0;
}

body, html, #root, .App{
  height: 100%;
}


.main-content {
  display: grid;
  grid-template-columns: 1fr 8fr;
  grid-template-rows: 1fr 8fr;
  flex: 1 0 auto;
}

.App{
  display: flex;
  flex-direction: column;
}

img{
  pointer-events: none;
}

@media (max-width: 1000px) {

  body, html, #root, .App{
    height: fit-content;
    display: flex;
  }
  .content-container{
    padding: 0;
  }

  .main-content{
    display: flex;
    flex-direction: column;
  }
  .side-bar{
    visibility: hidden;
    display: none;
  }

  p, td, th, h1, h2, .search{
    font-size: 0.8rem;
  }

  .icon, #profile-img{
    width: 10px;
    height: 10px;
  }

  .search-area{
    gap: 0.5rem;
  }

  .search{
    padding: 1px;
    border-radius: 10px;
  }

  html{
    overflow:hidden
  }

}

body {
  background-color: white;
}

body[data-theme="light"]{
  /*TODO
  Add Theme Tokens*/

}

body[data-theme="dark"]{
  /*TODO
  Add Theme Tokens*/
  filter: invert(0.7) hue-rotate(140deg);
}
